
#palleta, .des-container{	
	height: 93%;
}

#palleta .component{
	border : 1px solid silver;
	cursor: move;
}

#palleta .des-layout{
	border : 1px solid silver;
	cursor: move;
}

.des-container .component{
	border : 1px solid silver;
	cursor: move;
}

.des-layout{
	min-width: 10%; 
	min-height: 10%;
}

.des-container .des-layout{
	border : 1px solid bisque;
	cursor: move;
}

#topo{	
	height: 6%;
	padding-top: 4px;
	background-color: #eeeeee;
}

#palleta .component:hover{	
	border-right-width: 2px;
	border-bottom-width: 2px;
}

#palleta{
	padding-top: 5px;
	margin-top: 1px;
	background-color: #eeeeee;
}
.des-container{
	margin-top: 1px;
}

.logoTOTVS{	
	float: right;
}

.des-container .component.nonvisual{
	opacity: 0.4;
}

.des-datasource{
	background-color: #eeeeee;
	position: absolute;	
	top: 6%;
	right : 0%;	
	width: 50px;
	height: 93%;	
}

.des-datasource-evident{
	background-color: bisque;
	position: absolute;	
	top: 6%;
	right : 0%;	
	height: 93%;
	width: 50px;
	z-index: -100;	
}


.ms-sel-ctn{
    overflow: auto;
    line-height: 18px;
    padding-right: 0px;
    width: 100% !important;
}

#palleta {
    font-size: 12px;
}

#palleta .panel-title {
	font-size: 12px;	
}

.des-hover.des-layout{
	background-color: beige;
	z-index: -1;
}

.des-hover.des-container{
	background-color: seashell;
	z-index: -1;
}

.chosen-container {  
  width: 100%;
}

#dialog td {
	font-size: 14px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#palleta .normalComp{
	width: 10px;
	height:  10px;
	border : 1px solid ;
	display: none;
}

#palleta .miniComp{
	width: 10px;
	height:  10px;
	border : 1px solid ;
}


#project .normalComp{
	width: 10px;
	height:  10px;
	border : 1px solid ;	
}

#project .miniComp{
	width: 10px;
	height:  10px;
	border : 1px solid ;
	display: none;
}