/*
	################################################# CONFIG TOPO  #################################################
*/

#topo{	
	height: 7%;
	padding-top: 4px;
	background-color: #eeeeee;
}

.logoTOTVS{	
	float: right;
}


/*
	################################################# FILE SAVE PROJECT  #################################################
*/

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*
	################################################# PALLETA  #################################################
*/
#palleta{
	padding-top: 5px;
	margin-top: 1px;
	background-color: #eeeeee;
	font-size: 10px;
}

#palleta, #project{
	height: 92%;
}

#palleta [data-capsule]{
	display: block;
}



#palleta [data-body-component]:hover{
	background-color: bisque;
}

#palleta .panel-title {
	font-size: 10px;	
}

#palleta [data-body-component],
#palleta [data-body-component-layout]
{

	border : 1px solid bisque;
	cursor: move;
}

/*
	################################################# PROJECT #################################################
*/
#project{
	margin-top: 1px;
	padding: 2px;
}

#project [data-body-component],
#project [data-body-component-layout]{
	border : 1px solid bisque;
	cursor: move;
	background-color: seashell;	
}

[data-body-component-layout]{
	min-height: 10%;
}

/*#palleta [data-body-component],*/
#project [data-hand], 
#datasource [data-hand] {
	display: none;
}

/*
	################################################# DATASOURCE #################################################
*/

#datasource{
	background-color: #eeeeee;
	position: absolute;	
	top: 7%;
	right : 0%;	
	width: 50px;
	height: 93%;	
}

