#palleta, .project-container{	
	height: 93%;
}

#palleta .component{
	border : 1px solid silver;
	cursor: move;
}

.project-container .component{
	border : 1px solid silver;
	cursor: move;
}

.col-md-12{	
	height: 5%;
	padding-top: 4px;
	background-color: cornsilk;
}

#palleta .component:hover{	
	border-right-width: 6px;
	border-bottom-width: 6px;
}

#palleta{
	padding-top: 5px;
	margin-top: 1px;
	background-color: cornsilk;
}
.project-container{
	margin-top: 1px;	
}

.logoTOTVS{
	padding-top: 13px;
	float: right;
}

