#palleta, #project{
	border : 1px solid cadetblue;
	height: 85%;
}

#palleta .component{
	border : 1px solid yellow;
	cursor: move;
}

#project .component{
	border : 1px solid blue;
	cursor: move;
}

.col-md-12{	
	height: 5%;
}